apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-nginx
  labels:
    app: {{ .Release.Name }}-nginx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-nginx
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-nginx
    spec:
      containers:
      - name: nginx
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 80
        env:
          {{- if .Values.envVars }}
          {{- toYaml .Values.envVars | nindent 8 }}
          {{- end }}
        resources:
          requests:
            memory: {{ .Values.resources.requests.memory }}
            cpu: {{ .Values.resources.requests.cpu }}
          limits:
            memory: {{ .Values.resources.limits.memory }}
            cpu: {{ .Values.resources.limits.cpu }}
        volumeMounts:
          {{- range .Values.persistence.volumes }}
          - mountPath: /usr/share/nginx/html/{{ .name }}
            name: {{ .name }}-pvc
          {{- end }}
      volumes:
        {{- range .Values.persistence.volumes }}
        - name: {{ .name }}-pvc
          persistentVolumeClaim:
            claimName: {{ .name }}-pvc
        {{- end }}
